@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.intro {
  width: 100vw;
  height: 600px;
  background: linear-gradient(to bottom, hsl(13deg, 100%, 72%), hsl(353deg, 100%, 62%));
  border-end-start-radius: 100px;
  color: hsl(0deg, 0%, 100%);
  margin-bottom: 100px;
}
.intro__logo {
  width: 85px;
}
.intro__hamburger {
  width: 30px;
}
.intro_bg {
  width: 100%;
  height: 100%;
  padding: 60px 25px 0px;
  background-image: url("./../../images/bg-pattern-intro-mobile.svg");
  background-position-x: -290px;
  background-position-y: -220px;
  background-size: 1200px;
  background-repeat: no-repeat;
  border-end-start-radius: 100px;
}
.intro__nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
}
.intro__title {
  font-size: 2.1rem;
  text-align: center;
  padding: 0px 10px;
  margin-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  line-height: 45px;
}
.intro__subtitle {
  padding: 0px 15px;
  text-align: center;
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  margin-bottom: 55px;
  font-size: 1.2rem;
}
.intro__btn {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
}
.intro__btn button {
  width: 45%;
  border-radius: 25px;
  border: hsl(0deg, 0%, 100%) solid 1.5px;
  background-color: transparent;
  color: hsl(0deg, 0%, 100%);
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
}
.intro__btn button:first-child {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(355deg, 100%, 74%);
}

@media (min-width: 720px) {
  .intro_bg {
    background-image: url("./../../images/bg-pattern-intro-desktop.svg");
  }
}
.attribution {
  font-size: 1rem;
  text-align: center;
  width: 100vw;
  height: 60px;
  background-color: hsl(240deg, 10%, 16%);
  padding: 10px;
  color: hsl(0deg, 0%, 100%);
}
.attribution a {
  font-size: 1rem;
  color: hsl(228deg, 45%, 44%);
}

.second {
  width: 100%;
  height: 1100px;
}
.second__ilustration {
  width: 100%;
  margin: 40px auto;
}
.second h2 {
  font-family: "Overpass", sans-serif;
  text-align: center;
  color: hsl(208deg, 49%, 24%);
  text-align: center;
  padding: 0px 55px;
}
.second p {
  margin: 15px 0px;
  color: hsl(207deg, 13%, 34%);
  padding: 0px 30px;
  text-align: center;
  line-height: 30px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}
.second p:nth-child(4) {
  margin-bottom: 40px;
}

.third {
  width: 100vw;
  height: 600px;
  color: hsl(0deg, 0%, 100%);
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  margin: 300px 0 20px 0;
  text-align: center;
  background: linear-gradient(to bottom, hsl(237deg, 17%, 21%), hsl(237deg, 23%, 32%));
}
.third__info {
  position: relative;
  bottom: 200px;
  padding: 0px 25px;
}
.third__info h1 {
  font-size: 2rem;
  line-height: 45px;
  margin-bottom: 15px;
}
.third__info p {
  font-family: "Ubuntu", sans-serif;
  line-height: 30px;
}
.third__ilustration {
  border-top-right-radius: 100px;
  background-size: 600px;
  background-repeat: no-repeat;
  background-position-x: -110px;
  background-position-y: -260px;
  background-image: url("./../../images/bg-pattern-circles.svg");
}
.third__mobiles {
  width: 100%;
  position: relative;
  bottom: 200px;
}

.fourth {
  width: 100vw;
  height: auto;
}
.fourth__ilustration {
  width: 100%;
  margin: 40px auto;
}
.fourth h2 {
  font-family: "Overpass", sans-serif;
  text-align: center;
  color: hsl(208deg, 49%, 24%);
  text-align: center;
  padding: 0px 55px;
}
.fourth p {
  margin: 15px 0px;
  color: hsl(207deg, 13%, 34%);
  padding: 0px 30px;
  text-align: center;
  line-height: 30px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}
.fourth p:nth-child(4) {
  margin-bottom: 40px;
}

footer {
  width: 100vw;
  height: 750px;
  background-color: hsl(240deg, 10%, 16%);
  text-align: center;
  padding: 50px 0px;
  border-top-right-radius: 100px;
  margin-top: 100px;
}
footer img {
  width: 90px;
  margin-bottom: 50px;
}
footer h4 {
  margin-bottom: 30px;
  color: hsl(0deg, 0%, 100%);
  font-family: "Overpass", sans-serif;
}
footer ul {
  margin-bottom: 40px;
  list-style: none;
}
footer ul li a {
  color: hsl(240deg, 2%, 79%);
  text-decoration: none;
  line-height: 1.5rem;
}

/*# sourceMappingURL=index.css.map */
